<nav class="navbar navbar-light bg-light">

    <a class="navbar-brand" href="#"><img id="train" src="./images/train.png"
                        width="25"
                        height="25"
                        class="logo"
                        alt="" class="d-inline-block align-top"/>TiceTac
    </a>
    
    <div class="d-flex align-items-right">
            <a class="nav-link active" href="/">Connexion</a>
            <a class="nav-link disabled" href="#">My last trips</a>
        </div>
  </nav>