body {
	height: 100vh;
	font: 14px 'Lucida Grande', Helvetica, Arial, sans-serif;

	/* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#1e5799+0,2989d8+50,207cca+51,7db9e8+100;Blue+Gloss+Default */
	background: linear-gradient(to bottom, #1e5799 0%, #2989d8 0%, #7db9e8 84%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 );
}

a {
	color: #ff4800;
	font-weight: bold;
}

p {
	margin-bottom: 0 !important;
	margin-left: 2 !important;
}

#train {
	margin-right: 1em !important;
}
h1 {
	margin-left: 25%;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	font-size: 1.6rem;
	color: white;
	margin: 2rem;
}
#img-brand {
	display: flex;
	margin-left: auto;
	margin-right: auto;
	width: 200px;
	margin-top: 5rem;
}
#form-search {
	display: flex;
}
#from {
	margin-right: 5px;
}
#to {
	margin-right: 5px;
}
ul li {
	display: inline;
	text-decoration: none;
	list-style: none;
}
/* #trajet {
  align-self: flex-start;
} */
.card-body {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 500px;
}
ul#infos {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.card {
	max-width: 100%;
	margin-right: auto;
	margin-left: auto;
}
ul {
	padding-inline-start: 0px !important;
}
#price {
	font-family: Tahoma, Verdana, Geneva, sans-serif;
}
#departureTime {
	font-family: Tahoma, Verdana, Geneva, sans-serif;

	font-size: 12px;
	color: grey;
	font-weight: 300px;
}
.btn-danger {
	margin-left: 0px;
}

.form {
	padding: 2rem !important;
	display: flex !important;
}

.div1 {
	margin-top: 7rem;
}

.input {
	margin: 1rem;
}

#titlesign {
	text-align: center !important;
	color: white;
	font-size: 22px;
}

.confirm {
}
